@font-face {
    font-family: "Bebas Neue";
    font-weight: bold;
    src: url("../fonts/BebasNeue-Regular.woff"); 
}

// @font-face {
//     font-family: "Poppins";
//     font-weight: normal;
//     src: url("../fonts/Poppins-Regular.woff2");
// }

// @font-face {
//     font-family: "Poppins";
//     font-weight: bold;
//     src: url("../fonts/Poppins-Bold.woff2");
// }
