@font-face {
    font-family: "Bebas Neue";
    font-weight: bold;
    src: url("../fonts/BebasNeue-Regular.woff"); 
}

@font-face {
    font-family: "Montserat";
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: "Montserat";
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.woff");
}
