.header {
	width: 100%;
	height: 800px;
	background-color: $black;
	background-image: url("../img/header-smoke1.png"), url("../img/header-smoke2.png");
	background-position: left bottom, right top;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
}

.header__redline {
	width: 400px;
	height: 810px;
	background: linear-gradient(147.52deg, #880002 6.2%, #350001 112.76%);
	transform: skew(25deg);
	margin-left: 520px;
	position: relative;
	img {
		position: absolute;
		transform: skew(-25deg);
	}
}

.header__lines {
	bottom: 0;
	left: -400px;
}

.header__men {
	opacity: 0;
	visibility: hidden;
	left: -420px;
	bottom: -60px;
	z-index: 10;
	transition: all 1s ease;
}

.header__men.active {
	opacity: 1;
	visibility: visible;
}

.header__boots {
	opacity: 0;
	visibility: hidden;
	width: 530px;
	transition: all 1s ease;
}

@keyframes slide {
	50% {
		transform: translateY(-30px) skew(-25deg);
	}
	100% {
		transform: translateY(0px) skew(-25deg);
	}
}

@keyframes slideBack {
	50% {
		transform: translateY(30px) skew(-25deg);
	}
	100% {
		transform: translateY(0px) skew(-25deg);
	}
}

.header__boots-black {
	width: 460px;
}

.header__boots.active {
	opacity: 1;
	visibility: visible;
}
.boot1.header__boots-white {
	top: -120px;
	left: -100px;
	width: 400px;
	animation: slide 5s infinite;
}

.boot2.header__boots-white {
	bottom: -100px;
	right: -180px;
	animation: slideBack 5s infinite;
}

.boot1.header__boots-black {
	top: -140px;
	left: -50px;
	width: 400px;
	animation: slide 5s infinite;
}

.boot2.header__boots-black {
	bottom: -60px;
	right: -180px;
	animation: slideBack 5s infinite;
}

.header__sale {
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 96px;
	line-height: 96px;
	letter-spacing: 5px;
	color: rgba(237, 0, 3, 0.2);
	position: absolute;
	right: -200px;
	top: 350px;
	transform: skew(-25deg);
}

.header__content {
	width: 750px;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;	
	justify-content: flex-start;
	align-items: flex-end;
	margin-left: -50px;
}

.logo__basic {
	position: absolute; 
	top: -60px;
	right: 0px;
	z-index: 1;
}

.header__titles {
	position: relative;
	z-index: 2;
}

.header__title {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 96px;
	letter-spacing: 5px;
	color: $white;
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: right;
	// width: 100%;
}

.header__info {
	font-family: "Montserat";
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	text-align: right;
	letter-spacing: 0.5px;
	color: $white;
}

.header__subinfo {
	font-family: "Montserat";
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	text-align: right;
	letter-spacing: 0.5px;
	color: $white;
}

.header .price {
	width: 390px;
	height: 65px;
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-right: 50px;
}

.new__price {
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 64px;
	line-height: 65px;
	letter-spacing: 5px;
	color: $orange;
	text-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
}

.old__price {
	width: 224px;
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 36px;
	line-height: 65px;
	letter-spacing: 5px;
	color: $red;
	text-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
	border-image: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	border-left-width: 2px;
	border-left-style: solid;
	border-image-slice: 1;
	padding-left: 15px;
	margin-left: 10px;
	position: relative;
}

.old__price::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 224px;
	height: 2px;
	background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	z-index: 2;
}

.old__price::after {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: $white;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.order {
	width: 500px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.order__link {
	width: 240px;
	height: 50px;
	background: linear-gradient(92.42deg, #FF8A00 0%, #ED0003 102.4%);
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	letter-spacing: 5px;
	text-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
	color: $white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.time {
	font-family: "Montserat";
	font-weight: bold;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	letter-spacing: 2px;
	color: $white;
}

.header__btns-group {
	width: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-right: 50px; 
}

.header__btn {
	background: none;
	border: none;
	width: 200px;
	height: 140px;
	transform: skew(25deg);
	background:  linear-gradient(147.52deg, #880002 6.2%, #350001 112.76%);
	transition: 0.3s ease;
	cursor: pointer;
	outline: none;
	position: relative;
}

.header__btn.active {
	box-shadow: 10px 10px 40px #ED0003;
}

.header__btn-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) skew(-25deg);
	width: 100px;
}
