.sprey {
	width: 100%;
	height: 412px;
	background: url("../img/sprey-bg.png") left center no-repeat;
	display: flex;
	justify-content: center;
	margin-bottom: 58px;	 
}

.sprey__card {
	width: 978px;
	height: 351px;
	background-color: $white;
	box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.25);
	margin-top: 49px;
	display: flex;
	justify-content: space-between;
}

.sprey__card-left {
	width: 386px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 40px 0px 30px 30px;
}

.sprey__title {
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 2px;
	color: $black;
	margin-bottom: 19px;
}
.sprey__text {
	font-family: "Montserat";
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: $black;
	margin-bottom: 16px;
	width: 100%;
}

.sprey__info {
	font-family: "Montserat";
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: $black;
}

.sprey .price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.sprey .old__price {
	font-family: "Montserat";
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: $black;
	letter-spacing: normal;
	text-shadow: none;
	border: none;
	padding: 0;
	margin: 0;
	.bold {
		font-family: "Montserat";
		font-weight: bold;
	}
	span {
		text-decoration: line-through;
	}
}

.sprey .old__price:after,
.sprey .old__price:before {
	display: none;
}

.sprey .new__price {
	width: 104px;
	height: 35px;
	background-color: $dark-red;
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 36px;
	line-height: 35px;
	color: $white;
	text-transform: uppercase;
	letter-spacing: normal;
	display: flex;
	justify-content: space-around;
	text-shadow: none;
}

.sprey__card-right {
	position: relative;
	width: 620px;
	height: 100%;
	padding: 40px 40px 40px 210px;
}

.sprey__card-img {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.sprey__card-form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.card__form-input {
		margin-bottom: 15px;
		width: 100%;
	}
	.order__link {
		box-shadow: 15px 15px 40px rgba(136, 0, 2, 0.35);
	}
	.order__link:hover {
		box-shadow: 0px 0px 20px 7px rgba(237, 0, 3, 0.4);
	}
	.time {
		font-family: "Montserat";
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		color: $black;
		letter-spacing: normal;

		span {
			font-weight: bold;
		}
	}
}

